<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qshuoo.pojo.User">

	<!-- 查询所有用户 -->
	<select id="listUsers" resultType="com.qshuoo.pojo.User">
		select * from user
	</select>
	
</mapper>